body{
    background-color: rgba(33, 33, 33, 0);
    overflow: hidden;
}

.test{
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top: 50%;
    color:#fff;
    font-family: light;
    font-weight: bold;
    font-size: 200%;
}

/*border for all frame divs, invisible by default, but orange when --debug passed*/
.frames{
    border: 3px solid rgba(255, 166, 0, 0);
}

/*base for the stat bars, width, height and poition defined per-div*/
.bar{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 100px;
}
/*the filler for the bar, percent is either width or height depending on how you angle the bar*/
.barFiller{
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    left:0;
    top:0;
    height:100%;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 100px;
}

/*the pop-up menu at the bottom of the screen, pops up when hovered over*/
.threeGrid{
    /* border: 2px solid #2e2e2e; */
    background-color: #00000038;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    bottom: -104px;
    transition: all 0.3s ease;
}
.threeGrid:hover{
    bottom:0px;
}


.actionButton{
    transition: all 0.25s ease;
    cursor:pointer;
}
.actionButton:hover{
    background-color: rgba(77, 77, 77, 0.336);
}

/*grid one through three are the buttons in the popup menu*/
.gridOne{
    /* grid-column: 1/3;
    grid-row: 1; */
    position: absolute;
    left:-3px;
    top:-3px;
    width:33.7%;
    height:105%;
}
.gridTwo{
    /* grid-column: 2/3;
    grid-row: 1; */
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    top:-3px;
    width:33.9%;
    height:105%;
}
.gridThree{
    /* grid-column: 3/3;
    grid-row: 1; */
    position: absolute;
    float:right;
    right:-3px;
    top:-3px;
    width:33.9%;
    height: 105%;
}

/*base for a centered image*/
.centerImage{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/*power screen cancel button*/
.pwrCancel{
    position: absolute; 
    left:50%; 
    bottom:160px; 
    transform: translate(-50%, 0); 
    width:200px; 
    height:75px; 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 20px;
    transition: all 0.1s ease;
    cursor:pointer
}
.pwrCancel:hover{
    background-color: rgba(255, 255, 255, 0.342); 
}


.internetSpeedText{
    position: absolute; 
    left:90%; 
    transform:translate(-50%, -10px); 
    top:10px; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight:bold; 
    color:white; 
    writing-mode: vertical-rl; 
    text-orientation:inherit;
}


/*FONTS*/
@font-face {
    font-family: light;
    src: url(./font/ostrich-regular.ttf);
}